* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Bergdool";
  src: url("./assets/fonts/Bergdool-w1EmZ.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  --ms-textcolor-primary: beige;
  --ms-textcolor-secundary: black;
  --ms-textcolor-tertiary: white;
  --ms-textcolor-link: #950c12;

  --ms-background-navandfooter: black;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Roboto', sans-serif;
}

/*NAV*/

#menuCheck, #menu {
  display: none;
}

nav {
  background-color: var(--ms-textcolor-secundary);
  display: flex;
  justify-content: space-between;
  gap: 20px;
  height: 65px;
  align-items: center;
  width: 100%;
}

.userAndCart span, .search span, .titleNav span {
  color: var(--ms-textcolor-primary);
}

.titleNav {
  display: flex;
  gap: 20px;
  align-content: center;
}

.titleNav > ul {
  align-items: center;
}

h1{
  font-family: Bergdool;
  color: var(--ms-textcolor-secundary);
  font-size: 40px;
  background-color: var(--ms-textcolor-primary);
  height: 50px;
  padding: 0 10px 0 10px;
  border-radius: 10px;
  margin-left: 20px;
  width: 125px;
}

.nav {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 20px;
}

.titleNav > ul li :hover {
  text-decoration: underline;
  color: var(--ms-textcolor-tertiary);
}

.discountList li :hover {
  text-decoration: underline;
  color: var(--ms-textcolor-secundary);
}

.anc {
  color: var(--ms-textcolor-primary);
}

.shipments {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  list-style: none;
  padding: 12px 0 12px 0;
  font-size: 13px;
  gap: 10px;
}

.shipments li {
  background-color: rgba(220, 220, 220, 0.178);
  padding: 10px 5% 10px 5%;
  border-radius: 10px;
}

.search {
display: flex;
flex-wrap: wrap;
margin-right: 20px;
justify-content: end;
margin-left: 10px;
}

#search {
margin: 0 5px 5px 5px
}

/*MAIN*/

.discount img {
 max-width: 100%;
 cursor: pointer;
}

.discountList {
display: flex;
list-style: none;
flex-wrap: wrap;
gap: 10%;
justify-content: center;
margin: 20px 0 30px 0;
}

.discountList >li a {
  color: var(--ms-textcolor-link);
}

.specialOffers {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
  gap: 20px;
  max-width: 1600px;
  margin: auto;
  padding: 0 15px 0 15px; 
}

.specialOffer, .offer02, .offer03, .offer04 {
  width: 100%;
  text-align: center;
}

.specialOffers img {
 width: 100%;
 object-fit: cover;
 border-radius: 10px;
}

.specialOffer {
  position: relative;
  grid-column: 1 / -1;
}

.textOffer01 {
  position: absolute;
  left: 20px;
  top: 40%;
  text-align: left;
}

.textOffer01 h2 {
  color: var(--ms-textcolor-primary);
  font-size: 40px;
  padding: 10px;
  box-shadow: 1px 1px 10px;
}

.textOffer01 p {
  color: var(--ms-textcolor-tertiary);
  margin-left: 20px;
  padding-top: 8px;
  font-size: medium;
}

.specialOffers h3 {
  padding: 10px;
  font-size: 25px;
}

.offer02 a, .offer03 a, .offer04 a {
  font-size: small;
  color: var(--ms-textcolor-link);
  text-decoration: dotted;
}

.technology {
  margin: 40px 0;
}

.technology > article {
  background-color: var(--ms-background-navandfooter);
  color: var(--ms-textcolor-tertiary);
  display: flex;
  max-width: 1600px;
  margin: auto;
  border-radius: 10px;
}

.technology > article > div:first-child {
padding: 5%;
}

.technology > article > div > p {
  text-align: justify;
  font-size: medium;
}

.technologyImg {
  align-items: center;
  width: 100%;
  display: flex;
  justify-content: center;
}

.technology img {
  object-fit: cover;
max-height: 700px;

}

.technology h3 {
  font-size: 40px;
justify-content: center;
align-items: center;
}

.technology a {
  color: var(--ms-textcolor-primary);
}

.shopCategory {
  display: flex;
  flex-direction: column;
align-items: center;
align-content: center;
  margin: auto;
  max-width: 1600px;
  padding-top: 30px;
}

.shopCategory h3 {
font-size: 40px;
margin-bottom: 30px;
text-align: center;
}

.shopCategory > ul {

display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: center;
gap: 20px;
}

.shopCategory li {
  display: flex;
  flex-direction: column;
  list-style: none;
  align-items: center;
gap: 20px;
}

.shopCategory li:hover {
  transform: scale(1.1);
  transition: 200ms;
  cursor: pointer;
}

/* FOOTER */

footer {
  grid-area: Footer;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content:space-around;
  background-color: var(--ms-background-navandfooter);
  margin-top: 50px;
  padding: 25px 0;
}

footer > section ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style: none;
}

  .copyright, .aboutMe, .conditions  {
  display: flex;
  align-items: end;
} 

footer a, p {
  color: var(--ms-textcolor-tertiary);
  text-decoration: none;
  font-size: small;
}

@media (max-width: 1050px) {

.nav {
  display: none;
}

#menu {
  display: block;
  position: absolute;
  right: 0;
  top: 20px;
  padding: 0 15px;
  cursor: pointer;
}

.search {
  display: none;
}

#menuCheck:checked ~ .nav {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: #000000;
  padding: 20px;
  margin: 10px;
  width: 150px;
  top: 55px;
  right: 0;
  border-radius: 0 0 10px 10px;
  z-index: 25;
}

#menu {
  color: var(--ms-textcolor-primary);
  user-select: none;
}
  
  .technology img {
    display: none;
  }

  .textOffer01 {
  display: none;
  }

  .specialOffers {
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
}

footer > section ul {
  padding: 0 10px;
} 

footer > section p {
  padding: 25px 0 0 10px;
} 

}